[submodule "dotbot"]
	path = vendor/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vendor/tpm"]
	path = vendor/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vendor/conda-zsh-completion"]
	path = vendor/conda-zsh-completion
	url = git@github.com:esc/conda-zsh-completion.git