"*":
  "atom-beautify":
    css:
      indent_size: 2
    html: {}
    js:
      brace_style: "end-expand"
      end_with_comma: true
    jsx:
      end_with_comma: true
    scss:
      indent_size: 2
  "base16-syntax":
    scheme: "Atelier Lakeside"
    style: "Light"
  core:
    disabledPackages: [
      "language-python"
      "language-gfm"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Fira Code"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "git-blame":
    columnWidth: 418
  "language-babel":
    autoIndentJSX: true
  linter: {}
  "linter-flake8":
    projectConfigFile: [
      "setup.cfg"
    ]
  "linter-ui-default":
    panelHeight: 69
  minimap: {}
  "one-light-ui": {}
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  welcome:
    showOnStartup: false
".css.source":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    preferredLineLength: 75
    softWrap: true
    tabLength: 4
".js.jsx.source":
  editor:
    tabLength: 4
".languagebabel.ttlextension":
  editor:
    tabLength: 4
".python.regexp.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".python.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".ruby.source":
  editor:
    tabLength: 2
