"*":
  Hydrogen:
    kernelspec: "{\"kernelspecs\":{\"pyspark\":{\"resource_dir\":\"/Volumes/Data/Users/alegiaco/.ipython/kernels/pyspark\",\"spec\":{\"language\":\"python\",\"display_name\":\"pyspark\",\"env\":{\"SPARK_HOME\":\"/usr/local/Cellar/apache-spark/1.6.1/libexec/\",\"PYSPARK_PYTHON\":\"/usr/local/bin/python2.7\",\"PYSPARK_SUBMIT_ARGS\":\"--master local[*] pyspark-shell\"},\"argv\":[\"python\",\"-m\",\"IPython.kernel\",\"--profile=pyspark\",\"-f\",\"{connection_file}\"]}},\"python2\":{\"resource_dir\":\"/usr/local/lib/python2.7/site-packages/ipykernel/resources\",\"spec\":{\"language\":\"python\",\"display_name\":\"Python 2\",\"env\":{},\"argv\":[\"/usr/local/opt/python/bin/python2.7\",\"-m\",\"ipykernel\",\"-f\",\"{connection_file}\"]}},\"python3\":{\"resource_dir\":\"/Volumes/Data/Users/alegiaco/.ipython/kernels/python3\",\"spec\":{\"language\":\"python3\",\"display_name\":\"Python 3\",\"env\":{},\"argv\":[\"python3\",\"-m\",\"ipykernel\",\"-f\",\"{connection_file}\"]}}}}"
  "atom-beautify":
    css:
      indent_size: 2
    html: {}
    js:
      brace_style: "end-expand"
      end_with_comma: true
    jsx:
      end_with_comma: true
    scss:
      indent_size: 2
  "base16-syntax":
    scheme: "Atelier Lakeside"
    style: "Light"
  core:
    telemetryConsent: "no"
  editor:
    fontFamily: "Fira Code"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "language-babel":
    autoIndentJSX: true
  linter:
    showErrorPanel: false
  "linter-flake8": {}
  minimap: {}
  "one-light-ui": {}
  "spell-check": {}
  welcome:
    showOnStartup: false
".css.source":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    preferredLineLength: 75
    softWrap: true
    tabLength: 4
".js.jsx.source":
  editor:
    tabLength: 4
".languagebabel.ttlextension":
  editor:
    tabLength: 4
".python.source":
  editor:
    tabLength: 4
".ruby.source":
  editor:
    tabLength: 2
